<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/<%= user.id %>/update" , method="POST">
      <input type="text" name="firstName" value="<%= user.firstName %>" required />
      <input type="text" name="lastName" value="<%= user.lastName %>" required />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to Home</a>
  </body>
</html>

